</div>
<footer>
	<div class="container">
		<p class="text-muted">
			© TECHnically A Review 2020 | <a href="/techProducts">Home</a> | <a href="/techProducts/new">New
				Tech Product</a>
		</p>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://js.pusher.com/5.1/pusher.min.js"></script>
<script src="/js/notifications.js"></script>
</body>

</html>