<%- include("./partials/header") %>
<div class="row text-center align-middle">
    <div class="col-12">
        <h1 class="display-1">404</h1>
        <p>The requested page was not found.</p>
        <a href="/techProducts" class="btn btn-dark btn-lg">
            <i class="fas fa-home"></i> Take Me Home</a>
    </div>
</div>
<%- include("./partials/footer") %>