<!DOCTYPE html>
<html>
	<head>
		<title>Yelp Camp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>
		<div id="landing-header" class="container">
			<h1>Welcome to YelpCamp!</h1>
			<form action="/campgrounds" method="GET">
				<div class="row justify-content-center mt-4">
					<div class="col-10 col-sm-9 col-md-9 col-lg-7 d-md-inline-flex d-flex flex-column d-md-block flex-md-row">
			  			<input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-success ml-0 ml-md-2 mt-2 mt-md-0">Search</button>
					</div>
				</div>
			</form>
			<a href="/campgrounds" class="btn btn-md btn-secondary mt-3 mt-md-2">View All Campgrounds</a>
		</div>
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</body>
</html>