<%- include("../partials/header") %>
<div class="my-3">
	<h1 class="text-center">Change Password</h1>
	<div class="my-4">
			<form action="/users/<%= userId %>/changePassword" method="POST" autocomplete="off">
			<div class="form-group row justify-content-center">
				<div class="col-12 col-md-6 col-lg-5">
					<label for="currentPass">Current Password</label>
					<input type="password" name="currentPass" id="currentPass" class="form-control mb-2" placeholder="current password">
					<label for="newPass">New Password</label>
					<input type="password" name="newPass" id="newPass" class="form-control mb-2" placeholder="new password">
					<label for="confirmPass">Confirm Password</label>
					<input type="password" name="confirmNewPass" id="confirmPass" class="form-control mb-2" placeholder="confirm password">
					<button class="btn btn-primary btn-block mb-2">Confirm</button>
					<a href="/users/<%= userId %>">Go Back</a>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include("../partials/footer") %>