<%- include("../partials/header") %>
<div class="my-3">
	<h1 class="text-center">Forgot Password</h1>
	<div class="my-4">
		<form action="/forgot" method="POST" autocomplete="off">
			<div class="form-group row justify-content-center">
				<div class="col-12 col-md-6 col-lg-5">
					<label for="email">Account Email</label>
					<input type="email" id="email" class="form-control mb-3" name="email" placeholder="account email"
						required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,3})$">
					<button class="btn btn-primary btn-block mb-2">Reset Password</button>
					<a href="/campgrounds">Go Back</a>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include("../partials/footer") %>