<%- include("../partials/top") %>
<div class="my-3">
	<h1 class="text-center">Reset Password</h1>
	<div class="my-4 mx-auto">
		<form action="/reset/<%= token %>" method="POST">
			<input type="password" name="password" class="form-control mb-2" placeholder="new password">
			<input type="password" name="confirm" class="form-control mb-2" placeholder="confirm password">
			<button class="btn btn-primary btn-block mb-2">Change Password</button>
		</form>
	</div>
</div>
<%- include("../partials/bottom") %>