<%- include("../partials/top") %>
<div class="my-3">
	<h1 class="text-center">Sign Up</h1>
	<div class="my-4 mx-auto">
		<form action="/signup" method="POST">
			<input type="text" name="username" class="form-control mb-2" placeholder="username">
			<input type="password" name="password" class="form-control mb-2" placeholder="password">
			<input type="text" name="name" class="form-control mb-2" placeholder="full name">
			<input type="email" name="email" class="form-control mb-2" placeholder="email">
			<input type="text" name="avatar" class="form-control mb-2" placeholder="avatar url">
			<input type="password" name="adminCode" class="form-control mb-2" placeholder="Admin Code">
			<button class="btn btn-primary btn-block mb-2">Sign Up!</button>
		</form>
		<a href="/campgrounds">Go Back</a>
	</div>
</div>
<%- include("../partials/bottom") %>