<%- include("../partials/header") %>
<div class="my-3">
	<h1 class="text-center">Sign Up</h1>
	<div class="my-4">
		<form action="/signup" method="POST" enctype="multipart/form-data" autocomplete="off">
			<div class="form-group row justify-content-center">
				<div class="col-12 col-md-6 col-lg-5">
					<label for="username">Username</label>
					<input type="text" name="newUser[username]" id="username" class="form-control mb-2" placeholder="username" required>
					<label for="password">Password</label>
					<input type="password" name="newUser[password]" id="password" class="form-control mb-2" placeholder="password" required>
					<label for="fullName">Full Name</label>
					<input type="text" name="newUser[fullName]" id="fullName" class="form-control mb-2" placeholder="full name" required>
					<label for="email">Email</label>
					<input type="email" name="newUser[email]" id="email" class="form-control mb-2" placeholder="email" required autocomplete="on">
					<div class="custom-file mb-2">
						<input type="file" name="avatar" class="custom-file-input" id="avatar" required accept="image/*">
						<label class="custom-file-label" for="avatar">Choose Profile Picture</label>
					</div>
					<label for="code">Admin Code</label>
					<input type="password" name="newUser[code]" id="code" class="form-control mb-2" placeholder="Admin Code">
					<button class="btn btn-primary btn-block mb-2">Sign Up!</button>
					<a href="/campgrounds">Go Back</a>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="/js/agency.js"></script>
<%- include("../partials/footer") %>