h1 + div{
	width: 30%;
}

.border img {
	width: 100%;
}

hr{
	width: 100%;
	display: flex;
}

a + form{
	display: inline;
}

.active-page{
	background: lightgray;
}

footer{
	background: #f8f9fa;
	position: absolute;
	width: 100%;
	height: 60px;
}

footer p{
	margin: 20px 0;
}

h1 + img{
	width: 90%;
}