<%- include("../partials/header") %>
<div class="my-3">
	<h1 class="text-center">Create a New Campground</h1>
	<div class="my-4">
		<form action="/campgrounds" method="POST" enctype="multipart/form-data" autcomplete="off">
			<div class="form-group row justify-content-center">
				<div class="col-12 col-md-6 col-lg-5">
					<label for="name">Camp Name</label>
					<input type="text" id="name" class="form-control mb-2" name="camp[name]" placeholder="camp name"
						required>
					<label for="description">Camp Description</label>
					<input type="text" id="description" class="form-control mb-2" name="camp[description]"
						placeholder="camp description" required>
					<label for="price">Camp Price</label>
					<input type="number" id="price" class="form-control mb-4" name="camp[price]"
						placeholder="camp price" required min="0.01" step="0.01">
					<div class="custom-file mb-3">
						<input type="file" id="image" class="custom-file-input" name="image" required accept="image/*">
						<label class="custom-file-label" for="image">Upload Camp Picture</label>
					</div>
					<button class="btn btn-primary btn-block mb-2">Create Campground</button>
					<a href="/campgrounds/page/1">Go Back</a>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="/js/agency.js"></script>
<%- include("../partials/footer") %>